@{
    ViewData["Title"] = "Home Page";
}






@*<button type="button" onclick="location.href = '@Url.Action("Prev","Home")'">Prev</button>
    <button type="button" onclick="location.href = '@Url.Action("Play","Home")'">Play</button>
    <button type="button" onclick="location.href = '@Url.Action("Next","Home")'">Next</button>*@



<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
<script>
    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl("/player")
        .withAutomaticReconnect()
        .build();
    let connectinoId = ""

    
    
    function onpllay() {
        hubConnection.invoke('play')
    }

    function onnext() {
        hubConnection.invoke('next')
    }

    function onprev() {
        hubConnection.invoke('prev')
    }
    //hubConnection.on("SendNa", function (name) {
    //    let elem = document.createElement("p");
    //    elem.appendChild(document.createTextNode(name));
    //    document.getElementById("sendna").appendChild(elem);
    //})
    

    hubConnection.on("SendNa", function (data) {

        document.getElementById("trackname").textContent=data

        //let elem = document.createElement("p");
        //elem.appendChild(document.createTextNode(data));
        //let firstElem = document.getElementById("chatroom").firstChild;
        //document.getElementById("chatroom").insertBefore(elem, firstElem);

    });

    //document.getElementById("Button").addEventListener("click", function (e) {
    //    hubConnection.invoke("SendNa");
    //});


        hubConnection.start().then(() => {
            console.log("serverR connected")

        });

    //hubConnection.invoke('SendName')
    
</script>

<p id="trackname"></p>
<button type="button" id="Button" onclick="onprev()">Prev</button>
<button type="button" id="Button" onclick="onpllay()">Play</button>
<button type="button" id="Button" onclick="onnext()">Next</button>